{% if user.is_authenticated %}
<a href="{% url 'faq' %}">FAQ</a>
 | <a href="{% url 'movie_list' %}">movie list</a>
 | <a href="{% url 'location_list' %}">location list</a>
| <a href="{% url 'search_movie' %}">search movie</a>
| <a href="{% url 'add_movie' %}">add movie</a>
| <a href="{% url 'add_location' %}">add location</a>
{% endif %}
{# | <a href="{% url 'war' %}">War</a>#}
{# | <a href="{% url 'add_balance' %}">Add Balance</a>#}
{#{% endif %}#}
{#<a href="{% url 'register' %}">Register</a> |#}
{#<a href="{% url 'login' %}">Login</a> |#}
{#<a href="{% url 'logout' %}">Logout</a>#}
<span style="float:right;">
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">{{ user.username }}</a>
        {% if user.is_staff %}
              | <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
         | <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}
</span>