.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*<style>*/

    .leaflet-container {  /* all maps */
        width:  1050px;
        height: 600px;
    }

    #specialbigmap {
        height: 800px;
    }

/*</style>*/